@use "/src/scss/mixins";
@use "/src/scss/colors" as *;

.userProfile {
  margin: 1.7rem 4rem 0 15rem;
}

.userProfile header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}

.userProfile h1 {
  margin: 0;
  font-size: 28px;
}

.userProfile header button {
  @include mixins.button;
  background-color: $purple;
  color: $white;
}

.userProfile form {
  display: flex;
  flex-direction: column;
}

.userProfile form button {
  @include mixins.button;
  align-self: flex-end;
  margin: 1rem 0;
  color: $white;
  background-color: $green;
}

.formFields {
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid $form-border;
}

.control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.control label {
  font-size: 16px;
}

.control input {
  font-size: 20px;
  width: 50%;
}

.control input,
.control textarea {
  padding: 0.5rem;
  border: 2px solid $input-border;
  border-radius: 0.4rem;
}

.error,
.error:focus {
  border-color: $error !important;
}
