.list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  margin: 1.7rem 4rem 0 15rem;
}

.container h1 {
  font-size: 28px;
}
