@use "/src/scss/colors" as *;

.userItem {
  background-color: $form-border;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  position: relative;
  height: 5.5rem;
}

.userItem p {
  margin: 0 0 1rem 0;
}

.userItem span {
  color: $info;
}

.userItem p,
.userItem span {
  font-size: 22px;
}

.userItem a {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  color: $purple;
  text-decoration: none;
}
